@import url('https://fonts.googleapis.com/css2?family=Lora&family=Sofia+Sans+Semi+Condensed:ital,wght@0,200;0,400;0,600;1,300;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@300;400;500;600;700&family=Raleway&display=swap');
body {
    /* background: rgb(158, 157, 157);
    background: linear-gradient(122deg, rgba(158, 157, 157, 0.9809173669467787) 24%, rgba(7, 58, 101, 1) 52%); */
    background-attachment: fixed;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    background: rgb(19, 12, 46);
}

html {
    scroll-behavior: smooth;
}

.bold {
            font-weight: bold;
}

element.style {
            padding-right: 25px;
}

.section1 {
    padding: 260px 300px;
    background: rgb(19, 12, 46);
    background: linear-gradient(90deg, rgba(19, 12, 46, 1) 37%, rgba(5, 88, 173, 1) 73%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.logo_img {
    height: 90px;
}

.navbar-1 {
    background: rgb(24, 17, 51);
    font-size: 1.4rem;
}

.text-box1 {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
}

.samadhan {
    background: rgb(19, 12, 46);
    /* padding-top: 50px; */
    padding-bottom: 60px;
}

.ar {
    padding-right: 100px;
}

.presents {
    color: #fff;
}

.about1 {
    color: #fdce03;
    padding-left: 100px;
    padding-top: 100px;
}

.about4  {
    color: #f4cb16;
    padding-left: 50px;
    font-size: 50px;
}

.about2 {
    color: #fdce03;
    padding-left: 80px;
    padding-top: 100px;
}

.about1 {
    background: #fdce03;
    padding-right: 100px;
    padding-left: 100px;
}

.about {
    background: rgb(19,12,46);
    padding-top: 200px;
    padding-right: 100px;
    padding-left: 100px;
    padding-bottom: 100px;
}

@media (max-width: 576px) {
    .about {
        background: rgb(19, 12, 46);
        padding-top: 200px;
        padding-right: 20px;
        padding-left: 20px;
        padding-bottom: 100px;
    }
}

.about3 {
    background: rgb(19, 12, 46);
    padding-top: 100px;
}


/* Small devices (landscape phones) */

@media (max-width: 576px) {
    .about3 img {
        width: 250px;
    }
}

.info1 {
    list-style: none;
    color: #fff;
    line-height: 2;
    font-size: 30px;
    box-sizing: border-box;
}
@media (max-width: 576px) {
    .info1 {
        font-size: 18px;
        list-style: none;
        color: #fff;
        line-height: 2;
    }
}

.info2 {
    list-style: disc;
    color: #fff;
    padding-left: 50px;
    padding-right: 50px;
    line-height: 2;
    font-size: 18px;
}

.info2 a {
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    display: inline-block;
    transition: all 0.3s ease;
}

.info {
    list-style: disc;
    color: #fdce03;
    padding-left: 100px;
    padding-right: 50px;
    line-height: 1.65;
    font-size: larger;
}

.info a {
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    display: inline-block;
    transition: all 0.3s ease;
}

.samathan-title {
    color: #fdce03;
}

.samadhan_title3 {
    text-align: center;
    color: #ffffff;
    font-size: 2rem;
    padding-top: 40px;
}

.samadhan_title2 {
    text-align: center;
    color: #ffffff;
}


/* Small devices (landscape phones) */

@media (max-width: 576px) {
    .text-resize {
        font-size: 1rem;
        /* Adjust the desired font size */
    }
}


/* Medium devices (tablets) */

@media (min-width: 577px) and (max-width: 992px) {
    .text-resize {
        font-size: 2rem;
        /* Adjust the desired font size */
    }
}


/* Large devices (laptops/desktops) */

@media (min-width: 993px) {
    .text-resize {
        font-size: 2rem;
        /* Adjust the desired font size */
    }
}

@media (max-width: 576px) {
    .text-resize1 {
        font-size: 3rem;
        /* Adjust the desired font size */
    }
}


/* Medium devices (tablets) */

@media (min-width: 577px) and (max-width: 992px) {
    .text-resize1 {
        font-size: 4.5rem;
        /* Adjust the desired font size */
    }
}


/* Large devices (laptops/desktops) */

@media (min-width: 993px) {
    .text-resize1 {
        font-size: 7rem;
        /* Adjust the desired font size */
    }
}

.aump-logo {
    position: absolute;
    top: 120px;
    left: 600px;
}

.about-div {
    padding-top: 100px;
    line-height: 2;
    color: #ffffff;
    font-size: larger;
    background: rgb(19, 12, 46);
    text-align: center;
}

.aboutus-div {
    color: #fdce03;
}

.eligi-div {
    padding-bottom: 100px;
    background: rgb(19, 12, 46);
}

.Themes {
    padding-top: 100px;
    background: rgb(19, 12, 46);
}

.image-section {
    padding: 40px;
}

.wrapper {
    width: 100%;
}

.wrapper .container {
    padding-top: 10px;
}

.caption {
    color: #fff;
}

.timeline-section {
    background: rgb(19, 12, 46);
    width: 100%;
    height: auto;
    display: grid;
    place-items: center;
    padding: 50px 0;
}

@font-face {
    font-family: Poppins;
    src: url(./fonts/Poppins-Medium.ttf);
}

.timeline-section .heading {
    font-size: 40px;
    color: #fdce03;
    position: relative;
    margin-bottom: 100px;
    font-weight: 500;
}


/* .timeline-section .heading::after {
    content: " ";
    position: absolute;
    width: 50%;
    height: 3px;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50%);
    background-image: linear-gradient(to right, rgba(91, 14, 216, 0.767), rgba(238, 12, 200, 0.747));
} */


/* Container Css Start  */

.timeline-container {
    width: 70%;
    height: auto;
    margin: auto 0;
    position: relative;
}

.timeline-container ul {
    list-style: none;
}

.timeline-container ul::after {
    content: " ";
    position: absolute;
    width: 2px;
    height: 100%;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    background-image: linear-gradient(to bottom, rgba(91, 14, 216, 0.767), rgba(238, 12, 200, 0.747));
}

.timeline-container ul li {
    width: 50%;
    height: auto;
    padding: 15px 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.218);
    position: relative;
    margin-bottom: 30px;
    z-index: 99;
}

.timeline-container ul li:nth-child(13) {
    margin-bottom: 0;
}

.timeline-container ul li .circle {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #e100ff7a;
    top: 0;
    display: grid;
    place-items: center;
}

.circle::after {
    content: ' ';
    width: 12px;
    height: 12px;
    background-color: #7f00ff;
    border-radius: 50%;
}

ul li:nth-child(odd) .circle {
    transform: translate(50%, -50%);
    right: -30px;
}

ul li:nth-child(even) .circle {
    transform: translate(-50%, -50%);
    left: -45px;
}

ul li .date {
    position: absolute;
    width: 130px;
    height: 33px;
    background-image: linear-gradient(to right, #7f00ff, #e100ff);
    border-radius: 15px;
    top: -45px;
    display: grid;
    place-items: center;
    color: #fff;
    font-size: 13px;
    box-shadow: 1px 2px 12px rgba(0, 0, 0, 0.318);
}

.timeline-container ul li:nth-child(odd) {
    float: left;
    clear: right;
    text-align: right;
    transform: translateX(-45px);
}

ul li:nth-child(odd) .date {
    right: 20px;
}

.timeline-container ul li:nth-child(even) {
    float: right;
    clear: left;
    transform: translateX(30px);
}

ul li .timeline-title {
    font-size: 23px;
    color: rgb(91, 14, 216);
}

ul li p {
    font-size: 17px;
    color: #666;
    line-height: 18px;
    margin: 6px 0 4px 0;
}

ul li a {
    font-size: 13px;
    text-decoration: none;
    color: rgb(18, 54, 214);
    transition: all 0.3s ease;
}

@media only screen and (min-width:798px) and (max-width: 1100px) {
    .timeline-container {
        width: 80%;
    }
}

@media only screen and (max-width: 798px) {
    .timeline-container {
        width: 70%;
        transform: translateX(20px);
    }
    .timeline-container ul::after {
        left: -40px;
    }
    .timeline-container ul li {
        width: 100%;
        float: none;
        clear: none;
        margin-bottom: 80px;
    }
    .timeline-container ul li .circle {
        left: -40px;
        transform: translate(-50%, -50%);
    }
    .timeline-container ul li .date {
        left: 20px;
    }
    .timeline-container ul li:nth-child(odd) {
        transform: translateX(0px);
        text-align: left;
    }
    .timeline-container ul li:nth-child(even) {
        transform: translateX(0px);
    }
}

@media only screen and (max-width: 550px) {
    .timeline-container {
        width: 80%;
    }
    .timeline-container ul::after {
        left: 13px;
    }
    .timeline-container ul li .circle {
        left: -20px;
    }
}

.css-button-gradient--4 {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    background-size: 120% auto;
    background-image: linear-gradient(315deg, #43cea2 0%, #185a9d 75%);
}

.css-button-gradient--4:hover {
    background-position: right center;
}

.css-button-gradient--4:active {
    top: 2px;
}

.questions-container {
    max-width: 800px;
    margin: 0 auto;
}

.question {
    border-bottom: 1px solid #fff;
}

.question button {
    width: 100%;
    background: rgb(19, 12, 46);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;
    border: none;
    outline: none;
    font-size: 22px;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
}

.title {
    font-size: 50px;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 40px;
    text-decoration: underline 4px;
}

.question p {
    font-size: 22px;
    max-height: 0;
    opacity: 0;
    line-height: 1.5;
    overflow: hidden;
    transition: all 0.6s ease;
    color: #fff;
}

.d-arrow {
    transition: transform 0.5s ease-in;
    color: #fff;
}


/*add this class when click*/

.question span {
    text-align: left;
}

.question p.show {
    max-height: 200px;
    opacity: 1;
    padding: 0px 15px 30px 15px;
}

.question button .d-arrow.rotate {
    transform: rotate(180deg);
}

.title-faq {
    padding: 100px;
    color: #fdce03;
    font-size: 50px;
    text-align: center;
    text-decoration: none;
    background: rgb(19, 12, 46);
}

.FaQ {
    background: rgb(19, 12, 46);
}

.sponsors {
    padding-top: 100px;
    width: 100%;
    height: 300px;
    background: rgb(19, 12, 46);
    margin: 0;
    line-height: 2;
    color: #ffffff;
    font-size: 2.5rem;
    text-align: center;
}

.sponsors-div {
    color: #fdce03;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sponsors-title {
    color: #fdce03;
}

.footer-container {
    max-width: 1170px;
    margin: auto;
}

.row-footer {
    display: flex;
    flex-wrap: wrap;
}

ul {
    List-style: none;
}

.footer {
    background: rgb(19, 12, 46);
    background: linear-gradient(90deg, rgba(19, 12, 46, 1) 37%, rgba(5, 88, 173, 1) 73%);
    padding: 70px 0;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col h4 ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li {
    font-size: 16px;
    text-transform: capitalize;
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    padding-left: 8px;
    color: #ffff;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #fff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffff;
}

@media(max-width:767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width:574px) {
    .footer-col {
        width: 100%;
    }
}
